cmake_install.cmake
CMakeLists.txt.user
CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles/

build/
bin/

msg_gen/
srv_gen/

.DS_Store
.cproject
.project
.pydevproject

*~
*.orig
*.pyc

*.cpp.autosave.*

launch/calibrated_tf*
scripts/
src/mono_pattern.cpp
